body { 
  padding-top: 90px; 
  margin-left: 15px;
  margin-right: 15px;
}

.navbar {
  background-color: white;
  padding: 10px 0px;
  border-bottom: 1px solid #777777;
  color: #0276FD;
}

#footer {
  background-color: white;
  border-top: 1px solid #777777;
}

form {
  margin: 0px 15px;
}

.week-box div .btn-primary {
  margin: 4px 0px;
}

.week-box {
  margin: 60px 0px;
  
}

#btn-optimize {
  padding: 20px 30px;
  margin: 25px 0px;

}

.btn-primary {
  color: #428bca;
  background-color: #fff;
}

.query {
  border-color: #357ebd;
}

.form-container {
  margin-top: -20px;
}




