{% extends "base.html" %}
{% block nav %}
<div class="navbar-collapse collapse navbar-right bs-example">
  <ul class="nav navbar-nav nav-pills">
    <li class="active"><a href="/home">Home</a></li>
    <li><a href="/slides">Slides</a></li>
    <li><a href="/algorithm">Algorithm</a></li>
    <li><a href="/validation">Validation</a></li>
  </ul>
</div><!--/.nav-collapse -->
{% endblock %}
{% block content %}
<center>
<form action="{{ url_for('optimize') }}" method="post" name="roster" role="form">
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">    
    <h2>Step 1:</h2>
    <h3>Enter your roster:</h3>
   
    {{form.hidden_tag()}}
      <p>
        {% for entry in form %}<br>
        <tr><td>{{entry(class_='form-control', placeholder=entry.label.text)}}</td></tr>    
        {% endfor %}<br>    
        {% for error in form.errors %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
      </p>
          
  </div>
  
  <div class="col-lg-6 col-md-6 col-sm-6">
    <h2>Step 2:</h2>
    <h3>Optimize:</h3>
    <button class="btn btn-large btn-primary" type="submit">GO!</button>
  </div>
</div>

</form>
</center>
{% endblock %}

