{% extends "base.html" %}

{% block nav %}
<div class="navbar-collapse collapse navbar-right bs-example">
  <ul class="nav navbar-nav nav-pills">
    <li><a href="/slides" id="top-link1">Slides</a></li>
    <li><a href="https://github.com/kwheeler27/insight_datasci" id="top-link2">Github</a></li>
  </ul>
</div><!--/.nav-collapse -->
{% endblock %}

{% block content %}

<div class="container">
  <center>
    <iframe src="http://slid.es/kwheeler27/insight-data-science-demo/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
  </center>
</div>
{% endblock %}