{% extends "base.html" %}

{% block nav %}
<div class="navbar-collapse collapse navbar-right">
  <ul class="nav navbar-nav">
    <li><a href="/home">Home</a></li>
    <li class="active"><a href="/slides">Slides</a></li>
    <li><a href="/algorithm">Algorithm</a></li>
    <li><a href="https://github.com/kwheeler27/insight_datasci">Code</a></li>
  </ul>
</div><!--/.nav-collapse -->
{% endblock %}

{% block content %}

<div class="container">
  <center>
    <iframe src="http://www.slideshare.net/slideshow/embed_code/25959888" width="820" height="650" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> 
    <div style="margin-bottom:5px"> 
      <strong> <a href="https://www.slideshare.net/kwheeler27/wheeler-mock-demo" title="Wheeler mock demo" target="_blank">Wheeler mock demo</a> </strong> from <strong><a href="http://www.slideshare.net/kwheeler27" target="_blank">Kevin Wheeler</a></strong>
    </div>
  </center>
</div>
{% endblock %}